.container-form {
    font-family: 'Roboto', sans-serif;
    /* text-align: center; */
    color: #ffd800;
    float: left;
    width: 47%;
    padding: 0 1% 0 7%;
}

.container-form p {
    color: #fff;
}

.contact-form {
    width: 100%;
    margin-top: 20px;
}

.contact-form ul {
    padding: 0;
    margin: 0;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.contact-form li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;
    overflow: hidden;
    display: block;
    position: relative;
    opacity: 0;
    animation: fadeInUp .5s 0s;
    animation-fill-mode: forwards;
    clear: both;
}

.contact-form li.half {
    width: 49%;
    margin-left: 2%;
    float: left;
    clear: none;
}

.contact-form li.half:first-child {
    margin-left: 0;
}

input[type='text'],
input[type='email'] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
}

.flat-button {
    color: #ffd800;
    background: 0 0;
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd800;
    float: left;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    transition: all .2s ease-in;/*all 0.3s linear*/
}
.contact-form .flat-button:hover {
	background: #ffd800;
	color: #1c3643;
  }

@media screen and (min-width: 992px) {
    .container-form h1 {    
        font-size: 4rem;
    }
}

@media screen and (min-width: 576px) {
    .container-form h1 {    
        font-size: 3rem;
    }
}

.info-map {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);;
    top: 75px;
    right: 30%;
    z-index: 25;
    width: 267px;
    padding: 20px;
    color: #fff;
    /* font-family: 'Helvetica'; */
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeInUp 1s 0s;
    animation-fill-mode: forwards;
}

.info-map p {
    margin-bottom: 10px;
}

.info-map span {
    font-size: 16px;
    display: block;
    padding-top: 20px;
    color: #ffd800;
}

.map-wrap {
    /* background: rgba(8, 253, 216, 0.1); */
    float: right;
    width: 53%;
    height: 100%;
}

@import url("~leaflet/dist/leaflet.css");
.leaflet-container {
    width: 100%;
    height: 100vh;
    position: relative;
    opacity: 0;
    animation: fadeInUp .5s .1s;
    animation-fill-mode: forwards;
  }

.contact-page {
    position: initial;
    transform: none;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .map-wrap {
      float: none;
      margin: 0;
      width: 100%;
      height: 400px;
    }
    /* .info-map {
        display: none;
      }     */
}

@media (max-width: 960px) {
    .container.contact .text-zone {
    width: 80%;
    }
}

@media (max-width: 960px){
    .map-wrap {
    float: none;
    width: 86%; /*80%*/
    margin-left: 7%; /*10px*/
    /* height: 320px; */
    clear: both;
    padding-bottom: 7%;
    }
    .leaflet-container {
        height: 100%;
    }
    .container-form{
        width: 100%;
        padding: 0 7% 3% 7%;
    }
    .info-map {
        margin-left: 7%;
        width: 86%;
        position: static;
        clear: both;
    }
}


/*
map (primero)
.5s .1s;

form (segundo)
.5s .5s;

info-map (tercero)
1s 1s;

#022c43

web: https://bobangajicsm.github.io/portfolio/contact.html
*/